.demoWrapper {
    align-items: flex-start;
    background-color: #5387B3;
    border-radius: .4rem;
    column-gap: 2rem;
    display: flex;
    flex: 1 0 100%;
    padding: 1rem;
}

.description {
    color: #FFF;
    display: grid;
    font-family: monospace;
    grid-template-columns: 7rem auto;
    margin-right: auto;
    row-gap: .4rem;
}

.label {
    color: #003B6A;
    font-weight: bold;
    text-transform: uppercase;
}

.multiline {
    display: grid;
    flex-direction: column;
    position: relative;
    grid-gap: .1rem .5rem;
}

.columns2 {
    grid-template-columns: auto 12rem;
}

.columns3 {
    grid-template-columns: 5rem 4rem 5rem;
}

.rightAligned {
    text-align: right;
}

.default {
    color: rgb(255 255 255 / 50%);
}

.demo {
    align-items: center;
    background-color: var(--bg-color);
    border-radius: .1rem;
    color: #000;
    display: flex;
    font: 14px sans-serif;
    padding: .2rem .1rem;
    white-space: nowrap;
    width: 200px;
}
