:root {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    --bg-color: #E5E5E5;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
}

#root {
    align-items: center;
    display: flex;
    justify-content: center;
}
